<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 403 - Access Denied</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="skins/template/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="skins/template/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="skins/template/css/themify-icons.css" type="text/css" />
  <link rel="stylesheet" href="skins/template/css/elegant-icons.css" type="text/css" />
  <link rel="stylesheet" href="skins/template/css/owl.carousel.min.css" type="text/css" />
  <link rel="stylesheet" href="skins/template/css/nice-select.css" type="text/css" />
  <link rel="stylesheet" href="skins/template/css/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="skins/template/css/slicknav.min.css" type="text/css" />
  <link rel="stylesheet" href="skins/template/css/style.css" type="text/css" />
  <style>
    body {
      background-color: #f8f9fa;
    }

    .error-container {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 100px;
      padding: 20px;
      text-align: center;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 24px;
      margin-top: 0;
    }

    p {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="error-container">
      <h1>Error 403</h1>
      <p>Access Denied</p>
    </div>
  </div>

  <script src="skins/template/js/jquery-3.3.1.min.js"></script>
  <script src="skins/template/js/bootstrap.min.js"></script>
  <script src="skins/template/js/jquery-ui.min.js"></script>
  <script src="skins/template/js/jquery.countdown.min.js"></script>
  <script src="skins/template/js/jquery.nice-select.min.js"></script>
  <script src="skins/template/js/jquery.zoom.min.js"></script>
  <script src="skins/template/js/jquery.dd.min.js"></script>
  <script src="skins/template/js/jquery.slicknav.js"></script>
  <script src="skins/template/js/owl.carousel.min.js"></script>
  <script src="skins/template/js/main.js"></script>
</body>
</html>