<!DOCTYPE html>
<html lang="zxx">

<!-- Head Section Begin -->

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Template" />
    <meta name="keywords" content="Ecommerce, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ecommerce</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="skins/template/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/themify-icons.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/style.css" type="text/css" />
</head>

<!-- Head End -->

<body>

    <!-- Page Preloder -->
    <div id="preloder" style="display: none">
        <div class="loader" style="display: none"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="/ecommerce">
                                <img src="skins/template/img/logo.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7"></div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">

                            <[carrello_icon]>

                            <li class="heart-icon">
                            <a href = "autenticazione.php" class="login-panel">
                                <i class ="fa fa-user">
                                </i>
                                Area personale
                            </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>tutte le pagine</span>
                        <ul class="depart-hover">
                            <li><a href="index.php">HomePage</a></li>
                            <li><a href="autenticazione.php">Area personale</a></li>
                            <li><a href="carrello.php">Carrello</a></li>
                            <li><a href="checkout.php">Checkout</a></li>
                            <li><a href="shop.php">Shop</a></li>
                            <li><a href="orders.php">I miei Oridni </a></li>
                            <li><a href="contatti.php">Contatti </a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="index.php">Homepage</a></li>
                        <li><a href="shop.php">Shop</a></li>
                        <li><a href="carrello.php">Carrello</a></li>
                        <li><a href="orders.php">i miei ordini</a></li>
                        <li><a href="contatti.php">contatti</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap">
                    <div class="slicknav_menu">
                        <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a>
                        <nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./shop.html" role="menuitem">Shop</a></li>
                                <li class="slicknav_collapsed slicknav_parent">
                                    <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row">
                                        <a href="#">Collection</a>
                                        <span class="slicknav_arrow">►</span></a>
                                    <ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none">
                                        <li><a href="#" role="menuitem" tabindex="-1">Men's</a></li>
                                        <li><a href="#" role="menuitem" tabindex="-1">Women's</a></li>
                                        <li><a href="#" role="menuitem" tabindex="-1">Kid's</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="./contact.html" role="menuitem">Contact</a></li>
                                <li class="slicknav_collapsed slicknav_parent">
                                    <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row">
                                        <a href="#">Pages</a>
                                        <span class="slicknav_arrow">►</span></a>
                                    <ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none">
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./shopping-cart.html" role="menuitem" tabindex="-1">Shopping Cart</a></li>
                                        <li><a href="./check-out.html" role="menuitem" tabindex="-1">Checkout</a></li>
                                        <li><a href="./faq.html" role="menuitem" tabindex="-1">Faq</a></li>
                                        <li><a href="./register.html" role="menuitem" tabindex="-1">Register</a></li>
                                        <li><a href="./login.html" role="menuitem" tabindex="-1">Login</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="slicknav_menu">
                        <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a>
                        <nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./shop.html" role="menuitem">Shop</a></li>
                                <li class="slicknav_collapsed slicknav_parent">
                                    <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none"></a><a href="#">Collection</a> <span class="slicknav_arrow">►</span>
                                    <ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none">
                                        <li><a href="#" role="menuitem" tabindex="-1">Men's</a></li>
                                        <li><a href="#" role="menuitem" tabindex="-1">Women's</a></li>
                                        <li><a href="#" role="menuitem" tabindex="-1">Kid's</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="./contact.html" role="menuitem">Contact</a></li>
                                <li class="slicknav_collapsed slicknav_parent">
                                    <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none"></a><a href="#">Pages</a> <span class="slicknav_arrow">►</span>
                                    <ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none">
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./shopping-cart.html" role="menuitem" tabindex="-1">Shopping Cart</a></li>
                                        <li><a href="./check-out.html" role="menuitem" tabindex="-1">Checkout</a></li>
                                        <li><a href="./faq.html" role="menuitem" tabindex="-1">Faq</a></li>
                                        <li><a href="./register.html" role="menuitem" tabindex="-1">Register</a></li>
                                        <li><a href="./login.html" role="menuitem" tabindex="-1">Login</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Header End -->

</body>

</html>
<div id="index_v2Body">
    <[body]>
</div>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="/ecommerce"><img src="skins/template/img/footer-logo.png" alt="" /></a>
                        </div>
                        <ul>
                            <li>Indirizzo: Via Roma 1 - Roma</li>
                            <li>Telefono: +39 3246177090</li>
                            <li>Email: progetto@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Informazioni</h5>
                        <ul>
                            <li><a href="index.php">homePage</a></li>
                            <li><a href="contatti.php">Contact</a></li>
                            <li><a href="shop.php">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer-widget">
                        <h5>Il mio account</h5>
                        <ul>
                            <li><a href="orders.php">i miei ordini</a></li>
                            <li><a href="carrello.php">carrello</a></li>
                            <li><a href="autenticazione.php">area personale</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer End -->

    <!-- Js Plugins -->
    <script src="skins/template/js/jquery-3.3.1.min.js"></script>
    <script src="skins/template/js/bootstrap.min.js"></script>
    <script src="skins/template/js/jquery-ui.min.js"></script>
    <script src="skins/template/js/jquery.countdown.min.js"></script>
    <script src="skins/template/js/jquery.nice-select.min.js"></script>
    <script src="skins/template/js/jquery.zoom.min.js"></script>
    <script src="skins/template/js/jquery.dd.min.js"></script>
    <script src="skins/template/js/jquery.slicknav.js"></script>
    <script src="skins/template/js/owl.carousel.min.js"></script>
    <script src="skins/template/js/main.js"></script>
    
    </body>

    </html>