<div class="col-lg-6 offset-md-3">
   <h2 style="margin-top: 40px">Inserisci il nuovo indirizzo:</h2>
   <form class="row d-flex justify-content-center align-items-center h-100" action="add-indirizzo.php" method="post">
      <div class="col-md-12 form-group p_star">
         <div class="discount-coupon">
            <h6 for="regione">Regione</h6>
            <input type="text" class="form-control" id="regione" name="regione" placeholder="Regione" required />
         </div>
      </div>

      <div class="col-md-12 form-group p_star">
         <div class="discount-coupon">
            <h6 for="provincia">Provincia</h6>
            <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" required />
         </div>
      </div>

      <div class="col-md-12 form-group p_star">
         <div class="discount-coupon">
            <h6 for="citta">Citta</h6>
            <input type="text" class="form-control" id="citta" name="citta" placeholder="Citta" required />
         </div>
      </div>

      <div class="col-md-9 form-group p_star">
         <div class="discount-coupon">
            <h6 for="address">Indirizzo</h6>
            <input type="text" class="form-control" id="address" name="address" placeholder="Indirizzo" required />
         </div>
      </div>

      <div class="col-md-3 form-group p_star">
         <div class="discount-coupon">
            <h6 for="postal_code">CAP</h6>
            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="CAP" required />
         </div>
      </div>

      <button class="primary-btn" type="submit">Aggiungi</button>
   </form>
</div>
