<html lang="zxx">
  <head>
    <link rel="stylesheet" href="../skins/template/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/themify-icons.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/style.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="description" content="Template" />
    <meta name="keywords" content="Ecommerce, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ecommerce</title>
  </head>
  <body>
    <form  action="adminImmaginiProdotto.php" method="post" enctype="multipart/form-data">
        <div style="height: 200px; position: relative; top: 30px;" id="imageContainer" class="container">
          <h4 style="position: relative; bottom: 20px;">Inserisci immagini</h4>
          <div class="row">
            <div class="col">
              <input type="file" name="formImage">
            </div>
            <[lista-img]>
          </div>
          <input style="display: none;" type="number" value="<[id_p]>" name="formId">
          <button style="position: relative;top: 20px;" type="submit" class="btn btn-primary">carica immagine</button>
          <a style="position: relative;top: 20px;" class="btn btn-primary" href="../admin.php"> fine </a>
        </div>
    </form>
  </body>
  <script src="../skins/template/js/jquery-3.3.1.min.js"></script>
  <script src="../skins/template/js/bootstrap.min.js"></script>
  <script src="../skins/template/js/jquery-ui.min.js"></script>
  <script src="../skins/template/js/jquery.countdown.min.js"></script>
  <script src="../skins/template/js/jquery.nice-select.min.js"></script>
  <script src="../skins/template/js/jquery.zoom.min.js"></script>
  <script src="../skins/template/js/jquery.dd.min.js"></script>
  <script src="../skins/template/js/jquery.slicknav.js"></script>
  <script src="../skins/template/js/owl.carousel.min.js"></script>
  <script src="../skins/template/js/main.js"></script>
  <script src="../skins/template/js/filtriAjax.js"></script> 
  <script src="../skins/template/js/changeAdminCenterAjax.js"></script>  

  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../skins/template/js/filtriAjax.js"></script>

