
<html lang="zxx">
  <head>
    <link rel="stylesheet" href="../skins/template/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/themify-icons.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/style.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="description" content="Template" />
    <meta name="keywords" content="Ecommerce, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ecommerce</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form method="post" action="adminAssistenza.php">
              <div class="form-group">
                <label for="inputText">Rispondi a <[NOME_UTENTE]></label>
                <p><[DOMANDA]></p>
                <input style="display: none;" type="text" value="<[ID_A]>" name="formIda">
                <input type="text" class="form-control" id="inputText" maxlength="50" name="formRisposta">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </body>
</html>