<html lang="zxx">
  <head>
    <link rel="stylesheet" href="../skins/template/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/themify-icons.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/style.css" type="text/css" />
    <meta charset="UTF-8" />
    <meta name="description" content="Template" />
    <meta name="keywords" content="Ecommerce, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ecommerce</title>
  </head>
  <body>
    <form style="position:relative;left: 100px;top: 50px;width: 60%;" method="post"  action="adminPromozione.php">
        <div class="form-group">
          <label for="nomePromozione">Nome Promozione</label>
          <input type="text" class="form-control"  name="nomePromozione" value="<[nomePromozione]>" required>
        </div>
        <div class="form-group">
          <label for="descrizione">Descrizione</label>
          <input type="text" class="form-control"  name="descrizione" value="<[descrizione]>" required>
        </div>
        <div class="form-group">
          <label for="scontoPercentuale">Sconto Percentuale</label>
          <input type="number" class="form-control"  name="scontoPercentuale"value="<[scontoPercentuale]>" required>
        </div>
        <div class="form-group">
          <label for="dataInizio">Data Inizio</label>
          <input type="date" class="form-control"  name="dataInizio" value="<[dataInizio]>" required>
        </div>
        <input style="display: none;" type="number" name="formId" value="<[formId]>">
        <div class="form-group">
          <label for="dataFine">Data Fine</label>
          <input type="date" class="form-control"  name="dataFine" value="<[dataFine]>" required>
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
      </form>

  </body>
</html>

  