<html lang="zxx">
   <body>
      <!-- Page Preloder -->
      <div id="preloder" style="display: none">
         <div class="loader" style="display: none"></div>
      </div>

      <!-- Breadcrumb Section Begin -->

      <!-- Map Section Begin -->
      <div class="map spad">
         <div class="container">
            <div class="map-inner">
               <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.248495271101!2d13.3504693!3d42.3686427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132fcd6685cf206b%3A0xc99713f1507a320b!2sVia%20Vetoio%2C%2040%2C%2067100%20Coppito%20AQ%2C%20Italy!5e0!3m2!1sen!2sus!4v1575917275626!5m2!1sen!2sus"
                  height="610"
                  style="border: 0"
                  allowfullscreen=""
               >
               </iframe>
            </div>
         </div>
      </div>
      <!-- Map Section End -->

      <!-- Contact Section Begin -->
      <section class="contact-section spad">
         <div class="container">
            <div class="row">
               <div class="col-lg-5">
                  <div class="contact-title">
                     <h4>Contattaci</h4>
                     <p>Di seguito sono riportati i nostri contatti.</p>
                  </div>
                  <div class="contact-widget">
                     <div class="cw-item">
                        <div class="ci-icon">
                           <i class="ti-location-pin"></i>
                        </div>
                        <div class="ci-text">
                           <span>Indirizzo:</span>
                           <p>Coppito 1 - L'Aquila</p>
                        </div>
                     </div>
                     <div class="cw-item">
                        <div class="ci-icon">
                           <i class="ti-mobile"></i>
                        </div>
                        <div class="ci-text">
                           <span>Telefono:</span>
                           <p>+39 3246177090</p>
                        </div>
                     </div>
                     <div class="cw-item">
                        <div class="ci-icon">
                           <i class="ti-email"></i>
                        </div>
                        <div class="ci-text">
                           <span>Email:</span>
                           <p>progetto@gmail.com</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 offset-lg-1">
                  <div class="contact-form">
                     <div class="leave-comment">
                        <h4>Segnalaci un problema</h4>
                        <p>Il nostro Staff ti risponderà il prima possibile</p>
                        <form id="form_assistenza" action="contatti.php" method="post" class="comment-form">
                           <div class="row">
                              <div class="col-lg-6">
                                 <input type="text" id="nomeAss" name="nomeAss" placeholder="Il tuo nome" required />
                              </div>
                              <div class="col-lg-6">
                                 <input type="text" id="mailAss" name="mailAss" placeholder="E-mail" required />
                              </div>
                              <div class="col-lg-12">
                                 <textarea
                                    id="messaggioAss"
                                    name="messaggioAss"
                                    placeholder="Messaggio"
                                    required
                                 ></textarea>
                                 <button type="submit" class="site-btn">invia messaggio</button>
                              </div>
                           </div>
                        </form>
                        <br />
                        <a href="richieste-assistenza.php" class="primary-btn">Vedi le tue richieste</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Contact Section End -->
   </body>
</html>
