<html lang="zxx">

   <!-- Head Section Begin -->
   <[head]> 
   <!-- Head End -->

   <body>

      <!-- Page Preloder -->
      <div id="preloder" style="display: none">
         <div class="loader" style="display: none"></div>
      </div>

      <!-- Header Section Begin -->
         <[header]>
      <!-- Header End -->

   </body>

</html>

<!-- Banner Section Begin -->
<div class="banner-section spad">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-4">
            <div class="single-banner">
               <img src="skins/template/img/banner-1.jpg" alt="" />
               <div class="inner-text" >
                  <h4>Uomo</h4>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="single-banner">
               <img src="skins/template/img/banner-2.jpg" alt="" />
               <div class="inner-text">
                  <h4>Donna</h4>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="single-banner">
               <img src="skins/template/img/banner-3.jpg" alt="" />
               <div class="inner-text">
                  <h4>Bambini</h4>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Banner Section End -->

<!-- Deal Of The Week Section Begin-->
<section class="deal-of-week set-bg spad" data-setbg="img/time-bg.jpg" style="background-image: url('img/time-bg.jpg')">
   <div class="container">
      <div class="col-lg-6 text-center">
         <div class="section-title">
            <h2>Promozione</h2>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br />
               do ipsum dolor sit amet, consectetur adipisicing elit
            </p>
            <div class="product-price">35.00 €<span>/ HanBag</span></div>
         </div>
         <div class="countdown-timer" id="countdown">
            <div class="cd-item">
               <span>30</span>
               <p>Days</p>
            </div>
            <div class="cd-item">
               <span>23</span>
               <p>Hrs</p>
            </div>
            <div class="cd-item">
               <span>45</span>
               <p>Mins</p>
            </div>
            <div class="cd-item">
               <span>03</span>
               <p>Secs</p>
            </div>
         </div>
         <a href="#" class="primary-btn">Acquista ora</a>
      </div>
   </div>
</section>
<!-- Deal Of The Week Section End -->

<!-- Latest Message Section Begin -->
<section class="latest-blog spad">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="section-title">
               <h2>Messaggi dei clienti</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="single-latest-blog">
               <img src="skins/template/img/latest-1.jpg" alt="" />
               <div class="latest-text">
                  <div class="tag-list">
                     <div class="tag-item">
                        <i class="fa fa-calendar-o"></i>
                        May 4,2019
                     </div>
                  </div>
                  <a href="#">
                     <h4>The Best Street Style From London Fashion Week</h4>
                  </a>
                  <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-latest-blog">
               <img src="skins/template/img/latest-2.jpg" alt="" />
               <div class="latest-text">
                  <div class="tag-list">
                     <div class="tag-item">
                        <i class="fa fa-calendar-o"></i>
                        May 4,2019
                     </div>
                  </div>
                  <a href="#">
                     <h4>Vogue's Ultimate Guide To Autumn/Winter 2019 Shoes</h4>
                  </a>
                  <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="single-latest-blog">
               <img src="skins/template/img/latest-3.jpg" alt="" />
               <div class="latest-text">
                  <div class="tag-list">
                     <div class="tag-item">
                        <i class="fa fa-calendar-o"></i>
                        May 4,2019
                     </div>
                  </div>
                  <a href="#">
                     <h4>How To Brighten Your Wardrobe With A Dash Of Lime</h4>
                  </a>
                  <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat</p>
               </div>
            </div>
         </div>
      </div>
      <div class="benefit-items">
         <div class="row">
            <div class="col-lg-4">
               <div class="single-benefit">
                  <div class="sb-icon">
                     <img src="skins/template/img/icon-1.png" alt="" />
                  </div>
                  <div class="sb-text">
                     <h6>Consegna gratuita</h6>
                     <p>Per ordini superiori a 99€</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-benefit">
                  <div class="sb-icon">
                     <img src="skins/template/img/icon-2.png" alt="" />
                  </div>
                  <div class="sb-text">
                     <h6>Consegne puntuali</h6>
                     <p>Altrimenti segnala</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="single-benefit">
                  <div class="sb-icon">
                     <img src="skins/template/img/icon-1.png" alt="" />
                  </div>
                  <div class="sb-text">
                     <h6>Pagamenti sicuri</h6>
                     <p>100% pagamenti sicuri</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Latest Message End -->

<!-- Footer Section Begin -->
<[footer]>
   <!-- Footer End -->

   <!-- Js Plugins -->

   
   </body>

   </html>