<html lang="it">

<body>
    <!-- Page Preloder -->
    <div id="preloder" style="display: none">
        <div class="loader" style="display: none"></div>
    </div>




    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="x100xauto banner_part rounded text-center padding_bottom_25 d-flex align-items-center justify-content-center">
                    <div class="blog-detail-title">
                        <h2 style="margin-top: 30px; margin-bottom: 30px">Il tuo Profilo</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="skins/template/img/profilo.png" alt="avatar" class="rounded-circle img-fluid" style="width: 200px; height: 200px" />
                        <h5 class="my-3">
                            <[nome_utente]> <[cognome_utente]>
                        </h5>
                        <p class="text-muted mb-1">
                            <[email_utente]>
                        </p>
                        <div class="padding_top_50 p-3 mb-4">
                            <div class="select-button">
                                <a href="logout.php" class="primary-btn view-card">logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nome e cognome</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    <[nome_utente]> <[cognome_utente]>
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    <[email_utente]>
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="row"></div>
                        <div class="">
                            <div class="text-left">
                                <a href="add-indirizzo.php" class="primary-btn view-card">Aggiungi Indirizzo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>