<div class="row">
    <div style="margin-top:5px;" class="col">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <p class="card-text"><[NOME_UTENTE]></p>
          <p class="card-text"><[RICHIESTA]></p>
          <div class="d-flex">
            <a href="adminPHP/adminAssistenza.php?i=<[ID]>&r=<[RICHIESTA]>&a=<[ID_R]>" class="btn btn-primary">
               Rispondi
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>