<tr class="item-block" style="cursor: pointer">
   <td>
      <h5 class="item-code padding_top_5 padding_bottom_5" id="item-code"><[CODICE_ORDINE]></h5>
   </td>
   <td>
      <h5 class="item-date" id="item-date"><[DATA_ORDINE]></h5>
   </td>
   <td>
      <h5 class="total-item-cost" id="item-cost"><[PREZZO_ORDINE]> €</h5>
   </td>
   <td>
      <h5 class="item-state" id="item-state"><[STATO_ORDINE]></h5>
   </td>
   <td>
      <h5 class="item-addr" id="item-addr"><[INDIRIZZO_SPEDIZIONE_ORDINE]></h5>
   </td>
</tr>
