<tr class="item-block" style="cursor: pointer">
    <td>
        <h5 class="item-code padding_top_5 padding_bottom_5" id="item-code">
            <[codice_ordine]>
        </h5>
    </td>
    <td>
        <h5 class="item-date" id="item-date">
            <[data_ordine]>
        </h5>
    </td>
    <td>
        <h5 class="total-item-cost" id="item-cost">
            <[prezzo_ordine]> €
        </h5>
    </td>
    <td>
        <h5 class="item-state" id="item-state">
            <[stato_ordine]>
        </h5>
    </td>
    <td>
        <h5 class="item-addr" id="item-addr">
            <[indirizzo_spedizione_ordine]>
        </h5>
    </td>
</tr>