  <div class="row">
    <div style="margin-top:5px;" class="col">
      <div class="card ">
        <div class="card-body d-flex justify-content-between">
          <h5 class="card-title"><[NOME_PRODOTTO]></h5>
          <p class="card-text"><[MARCA_PRODOTTO]></p>
          <p class="card-text">Prezzo:$ <[PREZZO]></p>
          <div class="d-flex">
            <a style="position: relative;right: 8px;" href="adminPHP/adminModificaMagazzino.php?del=<[ID_PRODOTTO]>" class="btn btn-danger">
              Cancella
            </a>
            <a href="adminPHP/adminModificaMagazzino.php?mod=<[ID_PRODOTTO]>" class="btn btn-primary">
               Modifica
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

    