<div class="col-lg-4 col-sm-6">
   <div class="product-item">
      <div class="pi-pic">
         <a href="product.php?product_id=<[ID_PRODOTTO]>">
            <img src="<[URL_IMMAGINE]>" alt="product img" />
         </a>
      </div>
      <div class="pi-text">
         <div class="catagory-name"><[MARCA_PRODOTTO]></div>
         <a href="#">
            <h5><[NOME_PRODOTTO]></h5>
         </a>
         <div class="product-price"><[PREZZO_PRODOTTO]>€<span><[PREZZO_PRODOTTO_PRECEDENTE]></span></div>
      </div>
   </div>
</div>
