<div class="col-lg-4 col-md-6">
   <div class="single-latest-blog">
      <a href="product.php?product_id=<[ID_PRODOTTO]>">
         <img src="<[URL_IMMAGINE]>" alt="" />
      </a>
      <div class="latest-text">
         <div class="tag-list">
            <div class="tag-item">
               <i class="fa fa-calendar-o"></i>
               <[DATA_RECENSIONE]>
               <span style="margin-left: 50px"><[STELLE]>⭐</span>
            </div>
         </div>
         <h4><[NOME_COGNOME_UTENTE]></h4>
         <p><[TESTO_RECENSIONE]></p>
      </div>
   </div>
</div>
